h1{

font-family: "Trebuchet MS", Helvetica, sans-serif";
color:#ff66cc
}
h2{
font-family: "Arial";
color:#000000
}
p{
font-family: Arial;
}
body{ 
"<img src="https://image.jimcdn.com/app/cms/image/transf/none/path/se4c58f40cdbd8b0e/backgroundarea/ia42ebe1666777e1b/version/1507751083/image.jpg
